<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="UI Automation Suite"
       parallel="tests"
       thread-count="2">

    <!-- CHROME -->
    <test name="Smoke Tests - Chrome">
        <parameter name="browser" value="chrome"/>

        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <!-- FIREFOX -->
    <test name="Regression Tests - Firefox">
        <parameter name="browser" value="firefox"/>

        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>
